<c-container>
    <c-col xs="12">
        <img src="../../../../assets/img/brand/icono-nuevo-paciente.png" />
    </c-col>

    <c-col xs="12">
        <form [formGroup]="formulario" (ngSubmit)="save()" novalidate cForm>

            <c-card class="mb-4">

                <c-card-header style="height: 78px;">

                    <c-row>

                        <c-col style="padding-top: 20px;">
                            <strong>
                                Configuración
                            </strong>
                        </c-col>

                        <c-col>
                            <div style="text-align: right;">

                                <button mat-raised-button color="primary" type="submit">
                                    <mat-icon>save</mat-icon> Guardar
                                </button>

                            </div>
                        </c-col>

                    </c-row>

                </c-card-header>

                <c-card-body>

                    <!-- Mat Table -->
                    <div class="mat-elevation-z8">

                        <table cellspacing="0">

                            <!-- Configurar VPH -->
                            <tr>
                                <td> Habilitar Vph </td>
                                <td> :
                                    <mat-slide-toggle formControlName="vph">
                                        {{isCheckedVph === true ? '( Sí )' : '( No )'}}
                                    </mat-slide-toggle>
                                </td>
                            </tr>

                            <!-- Configurar Modo -->
                            <tr>
                                <td> Modo </td>
                                <td> :
                                    <mat-radio-group formControlName="modo">
                                        <mat-radio-button *ngFor="let modo of modos" name="opciones" [value]="modo">
                                            {{modo}}
                                        </mat-radio-button>
                                        <!-- <mat-radio-button value="Validación">Validación</mat-radio-button>
                                        <mat-radio-button value="Entrenamiento">Entrenamiento</mat-radio-button> -->
                                    </mat-radio-group>
                                    <!-- <mat-slide-toggle formControlName="modo">
                                        {{isCheckedModo === true ? '( VALIDACIÓN )' : '( ENTRENAMIENTO )'}}
                                    </mat-slide-toggle> -->
                                </td>
                            </tr>

                            <!-- Configurar Camara -->
                            <!--  <tr>
                                        <td> Habilitar Camara </td>
                                        <td>
                                            <mat-slide-toggle formControlName="camara">
                                                {{isCheckedCamara ? '( SI )' : '( NO )'}}
                                            </mat-slide-toggle>
                                        </td>
                                    </tr> -->

                        </table>

                    </div>

                </c-card-body>
            </c-card>
        </form>

    </c-col>
</c-container>