.example-card {
    max-width: 400px;
}

.example-header-image {
    background-image: url(../../../assets/img/brand/simbolo-solo.png);
    background-size: cover;
}

.img_tarjeta {
    width: 400px;
    height: 300px;
}