<div class="wrapper">
    <div class="login-text">
        <button class="cta">
        </button>

    </div>
    <div class="call-text">
        <h2>Ingresa tu correo electrónico </h2>
        <br>
        <form [formGroup]="formulario" cForm>

            <!-- E-mail -->
            <c-row>
                <c-col>
                    <mat-form-field appearance="legacy" class="example-container">
                        <mat-label for="usu_email">
                            <mat-icon>mail</mat-icon> Correo:
                        </mat-label>
                        <input formControlName="usu_email" type="email" matInput #input
                            placeholder="Ej. sk@gmail.com" />
                    </mat-form-field>

                </c-col>
            </c-row>

            <button class="button-iniciar" (click)="restablecerClave()">Restablecer</button>

        </form>

    </div>

</div>